{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email"><b>Email</b></label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
      required
    />
    <label for="password"
      ><b>Password</b> (Must be at least 7 characters long and contain an
      uppercase letter, a lowercase letter, a digit, and a special
      character)</label
    >
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
      required
    />
    <label for="confirm_password"><b>Confirm Password</b></label>
    <input
      type="password"
      class="form-control"
      id="confirm_password"
      name="confirm_password"
      placeholder="Confirm password"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
